.vidRecoder { 
    /* max-height: 200px !important; 
    max-width: 300px; */
    display: flex;
    justify-content: center;
  }
  .vdplayer {
    width: 70% !important;
    display: flex;
    justify-content: center;
  }
  .overwriteRow {
    width: 63.5%;
    /* position: absolute; */
    margin-left: 18.2% !important;
  }