.signup-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-size: 16px;
    /* color: white; */
  }


.signup-header h1.title{
  margin-bottom: 50px;  
}

.signup-header form{
  width: 35%;
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
}

.signup-header form label{
  width: 100%;
  position: relative;
}

.signup-header form label span.floating-label{
  position: absolute;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: all 300ms ease-in-out;
}

.signup-header form label input{
  border: unset;
  border-bottom: solid 1px;
  border-radius: 0;
}
.signup-header form label input:focus{
  outline: unset;
  box-shadow: unset;
}

.signup-header form label input:focus ~ span.floating-label,
.signup-header form label  input:not(:focus):valid ~ .floating-label{
  top: 0;
  left: 5px;
  font-size: 14px;
}